*{
    color: black !important;
}

body {
    background: blanchedalmond;
    font-family: fantasy;
    color: black !important;
    margin-left: 20px;
    margin-right: 20px;
}

html {
    height: 100%;
    color: black !important;
    background: blanchedalmond;
}